
{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
<div class="products_total">
    <h1>Les produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Date</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.tags ? product.tags|join(', ') : '' }}</td>
                <td>{{ product.date ? product.date|date('Y-m-d H:i:s') : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('products_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('products_new') }}">Create new</a>
    {% endif %}
{% endblock %}
