{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <ul>
        {% for sub_category in sub_categories %}
            <li><a href="{{ path('sub_categories_show', {'category': category.name, 'sub_category':  sub_category.name}) }}">{{ sub_category.name }}</a></li>
        {% endfor %}
    </ul>

    {% for product in products %}
        <div>
            <h3><a href="{{ path('products_show', {'category': category.name, 'sub_category':  product.subCategory, 'id': product.id}) }}">{{ product.name }}</a></h3>
            <p>{{ product.description }}</p>
            <p>
            {% for tag in product.tags %}
               #{{ tag }}
            {% endfor %}
            </p>
            <p>{{ product.date | date }}</p>
            {% for productDetail in product.productDetails %}
                <img src="/images/' {{ productDetail }}">
            {% endfor %}
        </div>
    {% endfor %}
    {#<a href="{{ path('categories_index') }}">back to list</a>#}

    {#<a href="{{ path('categories_edit', {'id': category.id}) }}">edit</a>#}

    {#{{ include('categories/_delete_form.html.twig') }}#}
{% endblock %}